.profile__button-add {
    width: 150px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    display: block;
    cursor: pointer;
    }
    
    .profile__button-add:hover {
    opacity: 0.6;
    }
    
    @media screen and (max-width: 970px) {
        .profile__button-add {
        margin: 36px auto;
        width: 336px;
        }
        } 
    
    @media screen and (max-width: 380px) {
    .profile__button-add {
    width: 282px;
    max-width: 100%;
    }
    } 