.profile__avatar {
    position: relative;
    width: 120px;
    height: 120px;
    min-width: 120px;
    background: #C4C4C4;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50%;
    }

@media screen and (max-width: 970px) {
.profile__avatar {
margin: 0 auto;
}
}  