.profile__button-pic {
    width: 10px;
    height: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;  
    }

@media screen and (max-width: 380px) {
        .profile__button-pic {
        width: 7.5px;
        height: 7.5px;
        margin-bottom: 5px;
        }
        }    